.name-doctor {
    font-weight: 600;
    font-size: 16px;


    &:hover {
        color: #20ac4a;
    }
}

.address-doctor {
    padding-top: 10px;
    border-top: 1px solid rgb(240, 229, 229);
}

.phone-doctor {}