.specialty-child {
    cursor: pointer;

    .specialty-name {
        padding: 10px 0;
        font-weight: 600;
        font-size: 16px;

        &:hover {
            color: #20ac4a;
        }
    }
}