//reset slick slider css
.slick-prev {
    // border: 1px solid orange !important;
    // position: relative !important;
    left: -10px !important;
    z-index: 999;
    width: 44px !important;
    height: 48px !important;
    background-color: green !important;

    background: white !important;
    border: 2px solid #d7d7d7 !important;

    &:hover {
        background: #ebebeb !important;
    }
}

.slick-next {
    border: 1px solid red !important;
    right: -10px !important;
    width: 44px !important;
    height: 48px !important;
    background-color: green !important;

    background: white !important;
    border: 2px solid #d7d7d7 !important;

    &:hover {
        background: #ebebeb !important;
    }
}

.slick-prev::before,
.slick-next::before {
    font-family: FontAwesome !important;
    // content: "\e257" !important;
    color: gray !important;
    font-size: 12px;
}

.section-share {
    &.section-specialty {

        background: #f5f5f5;
    }

    &.section-doctor-otw {
        background: #f5f5f5;

    }

    &.section-about {

        height: 500px !important;
        background: #f5f5f5;

    }

    .section-body {

        .section-customize {

            .bg-img {
                height: 150px;
                width: 320px;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                background-color: #eee;

                //===Specialty===
                &.section-specialty {
                    background-image: url(../../assets/specialtyimage/co-xuong-khop.png);

                    &.viem-gan {
                        background-image: url(../../assets/specialtyimage/viem-gan.png);
                    }

                    &.than-kinh {
                        background-image: url(../../assets/specialtyimage/than-kinh.png);
                    }

                    &.tim-mach {
                        background-image: url(../../assets/specialtyimage/tim-mach.png);
                    }

                    &.tieu-hoa {
                        background-image: url(../../assets/specialtyimage/tieu-hoa.png);
                    }

                    &.ho-hap-phoi {
                        background-image: url(../../assets/specialtyimage/ho-hap-phoi.png);
                    }

                    &.suc-khoe-tam-than {
                        background-image: url(../../assets/specialtyimage/suc-khoe-tam-than.png);
                    }
                }

                //===MedicalFacility===
                &.section-medical-facility {
                    background-image: url(../../assets/facilityimage/hung-viet.jpg);
                    background-size: contain !important;
                    background-color: white !important;

                    &.thu-cuc {
                        background-image: url(../../assets/facilityimage/thucuc.png);
                    }

                    &.hiem-muon {
                        background-image: url(../../assets/facilityimage/hiem-muon.jpg);
                    }

                    &.an-viet {
                        background-image: url(../../assets/facilityimage/an-viet.jpg);
                    }

                    &.viet-duc {
                        background-image: url(../../assets/facilityimage/viet-duc.jpg);
                    }

                    &.y-duoc-1 {
                        background-image: url(../../assets/facilityimage/y-duoc-1.jpg);
                    }
                }




                &.section-doctor-otw {
                    // background-image: url(../../assets/doctorimage/114430-bshung.jpg);
                    width: 120px;
                    height: 120px;
                    margin: 0 auto;
                    margin-bottom: 10px;
                    border-radius: 50%;

                }

                &.section-HandBook {
                    background-image: url(../../assets/handbookimage/170738-tham-my-nam-khoa-o-dau-ha-noi.png);
                }
            }
        }

    }

}

.section-share {
    height: 380px;

    .section-container {
        margin: 0 100px;
        display: flex;
        flex-direction: column;

        .section-header {
            height: 60px;
            margin-top: 30px;
            margin-bottom: 30px;

            .title-section {
                font-size: 22px;
                font-weight: 600;
            }

            .btn-section {
                float: right;
                display: block;
                padding: 10px 15px;
                border: none;
                outline: none;
                background: #ebebeb;
                color: black;
                cursor: pointer;
                text-transform: uppercase;

                &:hover {
                    color: #fff;
                    background: #f7d800;
                }
            }
        }


    }



}

.section-doctor-otw {
    .section-customize {
        padding: 5px;

        .customize-border {
            border: 1px solid;
            padding: 20px;
        }
    }
}

.home-footer {
    text-align: center;
    padding: 10px;
    background: #64b9e5;

    a {
        text-decoration: none;
    }

    p {
        color: white;
    }

}


.section-about {
    padding: 0 100px;

    .section-about-header {
        padding: 20px 10px;
        font-size: 20px;
    }

    .section-about-content {
        display: flex;
        gap: 15px;
        width: 100%;

        .content-left {
            width: 50%;
        }

        .content-right {
            width: 50%;

            p {
                text-align: justify;
                font-style: italic;
            }
        }
    }


}